.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #512314;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 90;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.ToolbarContainer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    align-items: center;
}

@media (max-width : 499px) {
    .DesktopOnly {
        display: none;
    }

    .Logo {
        display: none;
    }
}